{% load static %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
  </form>
  <p>Once you click upload, it will take approximately one minute to recolor your photo, so please be patient!</p>
  <p>please note that for now this only works for 256x256 images </p>
  {% if uploaded_file_url %}
    <p>Your photo has been recolored! thank you for using our service!</p>
	<a href = "/upload/files/img_0.png"> your image </a>
  {% endif %}

{% endblock %}

<footer><a href="/">Home</a></footer>