{% load static %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
  </form>
  <p>Once you click upload, it will take approximately one minute to recolor your photo, so please be patient!</p>
  {% if uploaded_file_url %}
    <p>Your photo has been recolored! thank you for using our service!</p>
  {% endif %}

{% endblock %}
<footer><a href="{% url 'index' %}">Home</a></footer>