<head>
<img src="http://i64.tinypic.com/34qthlj.png" border="0" width="70" height="120" alt="Logo"</a>

<html>
<style>
body {
    background-color:#a6a6a6;
}
</style>

{% block content %}
{% if user.is_authenticated %}
  <h1 style="text-align:right">Welcome {{ user.username }}!</h1>
{% else %}
  <h1 style="text-align:right">You are not logged in</h1>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}
</head>

<ul>
	{% for link in all_links%}
	<li><a href="{{ link }}">{{ link }}</a></li>
	{% endfor %}
</ul>
