<!-- Scripted widgets are from https://clicky.com/stats/prefs-widgets and were written by Clicky -->

<html>

<head>
    <title>Stats - blackandback</title>

    <!-- PAGE STYLES -->
    <style>
        h1 {
            font-size: 34pt;
        }

        body {
            background-color: whitesmoke;
            width: 100%;
            font-family: sans-serif;
            text-align: center;
        }

        widget {
            display: inline-flex;
        }

    </style>
</head>

<h1> Stats </h1>

<widget>
    <script src="//widgets.clicky.com/flashy/?site_id=101176092&sitekey=1ae242a1c0775ec5c8bff334108f855f&w=400&h=300&date=last-28-days&type=visitors&title=&hide_y=0&hide_title=0&hide_branding=0"
            type="text/javascript"></script>

    <script src="//widgets.clicky.com/cloudy/?site_id=101176092&sitekey=0a8d7c2defb3f92496315dbe51d6c5a6&width=200&height=500&date=last-7-days&type=screen-resolutions&limit=10&title=&hide_title=0&hide_branding=0"
            type="text/javascript"></script>
</widget>

</body>

</html>
